server:
  port: 8081
spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DB_HOST}:3306/spring_order
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
#    url: jdbc:mariadb://localhost:3306/ordering
#    username: root
#    password: 1234
  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    database: mysql
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  expiration: 30 #300ë¶„
  secretKey: sejong




